{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <title>{% block title %} Моя библиотека {% endblock %}</title>
</head>
<body>

      {% block index %}{% endblock %}
  
      {% block navbar %}

      {% if 'friend/add' in request.path %}
      <nav class="navbar-nav">
        <button type="button" class="btn btn-secondary">
          <a class="nav-link" style="color:white" href="{% url 'home' %}">На главную</a>
        </button>
      {% elif 'book/add' in request.path %}
      <nav class="navbar-nav">
        <button type="button" class="btn btn-secondary">
          <a class="nav-link" style="color:white" href="{% url 'home' %}">На главную</a>
        </button>
        <button type="button" class="btn btn-secondary"> 
          <a class="nav-link" style="color:white" href="{% url 'author_add' %}">Добавить автора </a>
        </button>
      </nav>
      {% elif 'author/add' in request.path %}
      <nav class="navbar-nav">
        <button type="button" class="btn btn-secondary">
          <a class="nav-link" style="color:white" href="{% url 'home' %}">На главную</a>
        </button>
        <button type="button" class="btn btn-secondary"> 
          <a class="nav-link" style="color:white" href="{% url 'book_add' %}">Добавить книгу</a>
        </button>
      </nav>
      {% else %}
      <nav class="navbar-nav">
        {% if 'book' in request.path %}
        <button type="button" class="btn btn-dark">
          <a class="nav-link" style="color:white" href="{% url 'book_add' %}">Добавить книгу</a>
        {% else %}
        <button type="button" class="btn btn-secondary">
          <a class="nav-link" style="color:white" href="{% url 'book_list' %}">Список книг</a>
        {% endif %}
        </button>
        {% if 'author' in request.path %} 
        <button type="button" class="btn btn-dark"> 
          <a class="nav-link" style="color:white" href="{% url 'author_add' %}">Добавить автора </a>
        {% else %}
        <button type="button" class="btn btn-secondary">  
          <a class="nav-link" style="color:white" href="{% url 'author_list' %}">Cписок авторов </a>
        {% endif %}
        </button>
        
        <button type="button" class="btn btn-secondary {% if 'publisher' in request.path %} disabled {% endif %}">
          <a class="nav-link" style="color:white" href="{% url 'publisher_list' %}">Список издательств </a>
        </button>

        {% if 'friend' in request.path %}
        <button type="button" class="btn btn-dark">
          <a class="nav-link" style="color:white" href="{% url 'friend_add' %}">Записаться в друзья и одолжить книгу</a></button>
        {% else %}      
        <button type="button" class="btn btn-secondary">
         <a class="nav-link" style="color:white" href="{% url 'friend_list' %}">Друзяшки</a></button>
        {% endif %}
      </nav>
    {% endif %} 

    {% endblock %}   

    
    {% block content %}{% endblock %}
</body>
</html